@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;

}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #363636;
  --color-secondary: #ff8ea6;

  --color-accent: #e57368;


}

.gradient {
  background-image: linear-gradient(to right, #c76765, #d07a78, #d88e8c, #e0a19f, #e7b4b3);
}

.gradientBtn {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.gradientBg {
  background-image: linear-gradient(to left bottom, #e57368, #e67e73, #e6887e, #e6938a, #e69d95, #ea9b99, #ee999d, #f197a2, #f689a8, #f77bb4, #f26fc5, #e568da);
}

.navLink {
  @apply ml-5 font-semibold text-lg text-primary
}

.navLink.active {
  @apply text-[#dc7977] border-b-3
}

.navLink:hover {
  @apply text-[#dc7977] border-b-3
}