@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.font {
  font-family: "Poppins", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #363636;
  --color-secondary: #ff8ea6;

  --color-accent: #e57368;
}


.navLink {
  @apply ml-5 font-semibold lg:text-lg text-base text-primary border-b-3 border-transparent
}

.navLink.active {
  @apply text-[#dc7977] border-b-3 border-b-[#dc7977]
}

.navLink:hover {
  @apply text-[#dc7977] border-b-3 border-b-[#dc7977]
}



.gradientBtn {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}



.gradientBg {
  background-image: linear-gradient(to left bottom, #e57368, #e67e73, #e6887e, #e6938a, #e69d95, #ea9b99, #ee999d, #f197a2, #f689a8, #f77bb4, #f26fc5, #e568da);
}

.gradient {
  @apply border-0 bg-linear-to-r from-[#f5c2c2] to-[#ff6562] text-white px-6 py-2 rounded-lg hover:transition duration-500 hover:scale-105 hover:from-[#f3cece] hover:to-[#ff4e4b]
}