@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;

}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #363636;
  --color-secondary: #ff8ea6;
  --color-accent-1: #f6b6b4;
  --color-accent: #e57368;
  --color-accent-3: #a3d8f4;


  --color-section: #fff1ef;

  --color-text: #333333;
  --color-textSecondary: #ffd6a5;
  --color-textLight: #333333;

  --color-btn: #dc7977;
  --color-hoverBtn: #c76765;


}

.gradient {
  background-image: linear-gradient(to right, #c76765, #d07a78, #d88e8c, #e0a19f, #e7b4b3);
}

.gradientBtn {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}



.navLink {
  @apply ml-5 font-semibold text-lg text-primary
}

.navLink.active {
  @apply text-[#dc7977] border-b-3
}

.navLink:hover {
  @apply text-[#dc7977] border-b-3
}